*{
    box-sizing: border-box;
}
/* ROOT VARIABLES */
:root{
    --purple: rgb(143, 84,124);
    --teal: rgb(0, 164, 160);
    --darkgrey: rgb(102, 102, 102);
    --bg-grey: rgb(242, 244, 246);
    --lightgrey: rgb(231,231,231);
    --lightgrey2: rgb(217, 217, 217);
    --lightgrey3: rgb(111, 18, 18);
    --lightgrey4: rgb(190, 190, 190);
    --lightgrey5: rgb(176, 176, 176);
    --cell-teal-dark: rgb(0, 184, 180);
    --cell-teal-light: rgb(0, 211, 205);
    --cell-orange-dark: rgb(255,162,76);
    --cell-orange-light: rgb(255, 177, 106);
    --cell-red: rgb(234, 95, 92);
    --table-yellow: rgb(254, 252, 189);
    --cell-blue: rgb(84, 192, 242);
    --cell-purple-dark: rgb(137, 66, 104);
    --cell-purple-light: rgb(154, 74, 117);
    --cell-green: rgb(0, 168, 67);
    --cell-yellow-dark: rgb(249, 202, 0);
    --cell-yellow-med: rgb(251, 209,0);
    --cell-yellow-light: rgb(252, 214,0);

}



html {
    height: 100%;
  
}
body {
    min-width: 1080px;
    height: 100%;
    background-color: var(--bg-grey);
}

header{
    background-color: var(--purple);
}


.fa-clock{
    position: relative;
}

#notification{
    position: absolute;
    height: 10px;
    width: 15px;
    top: -5px;
    right: -12px;
    background-color: var(--teal);
    border-radius: 40%;
    font-size: 8px;
    font-weight: bold;
    display: flex;
    justify-content: center;
    align-items: center;
}

#popup{
    position: absolute;
    display: none;
    z-index: 700;
    height: 100px;
    width: 150px;
    background-color: var(--lightgrey);
    color: var(--darkgrey);
    text-align: center;
    padding: 10px;
    border-radius: 5px;
}

#popup:before{
    content: '';
	position: absolute;
	top: 0;
	left: 50%;
	width: 0;
	height: 0;
	border: 7px solid transparent;
	border-bottom-color: var(--lightgrey);
	border-top: 0;
	margin-left: -7px;
	margin-top: -7px;
}

#inner-popup{
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
}

#inner-popup > button {
    font-size: 10px;
    background-color: var(--purple);
    color: white;
    border-radius: 5px;
    margin: 5px;
}

#data-name{
    width: 90%;
    text-overflow: ellipsis;
    overflow: hidden;
    text-align: center;
    margin: auto;
}
.fa-comments{
    opacity: 50%;
}

/* GLOBAL */

.hidden{
    display: none;
}

i{
    cursor: pointer;
}

button{
    border: none;
    background-color: transparent;
    font-size: 12px;
    font-weight: bold;
}
button:focus{
    outline: none;
}
p{
    margin: 0px;
}
a{
    text-decoration: none;
    color: white;
}
a:hover{
    text-decoration: none;
}

input{
    border: none;
    width: 100%;
}

input:focus{
    outline: none;
}
.width-50{
    width: 50%;
}

.bg-teal{
    background-color: var(--teal);
}

.color-teal{
    color: var(--teal);
}

.color-darkgrey{
    color: var(--darkgrey);
}

.bg-white{
    background-color: white;
}
.color-white{
    color: white;
}

.hover-lightgrey:hover{
    background-color: var(--bg-grey);
}


/* SPECIFICS */
.tag{
    width: fit-content;
    align-items: center;
    /* padding: auto; */
    /* display: block; */
    font-size: small;
    /* text-align: center; */
    padding: 0px 5px;
    color: var(--darkgrey);
    background-color: var(--bg-grey);
    border:1px solid var(--darkgrey);
    height: 30px;
}


.bar{
    height: 40px;
}

.icon-background{
    background-color: var(--purple);
    height: 30px;
    padding: 5px;
    margin: auto;
}

.input-div{
    background-color: white;
    width: 100%;
}

.grid-template{
    border: 1px solid var(--lightgrey2);
    display: grid;
    grid-template-columns: 170px 1fr;
    grid-template-rows: 40px 40px 40px 40px 40px 40px 40px 40px;
    margin: 0px auto;
    font-size: 12px;
    font-weight: bold;
    border-top-style:inset;
}


#grid-left{
    grid-column: 1/ span 1;
    grid-row: 1/3;
    text-align: center;
    display: flex;
    align-items: center;
    border-right: 1px solid var(--lightgrey2);
    border-bottom: 1px solid var(--lightgrey2);
    background-color: var(--bg-grey);
    
    padding: 5px;
}

#grid-top{
    grid-column: 2/end;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--bg-grey);
    border-bottom: 1px solid var(--lightgrey2);
}

#grid-numbers{
    display:grid;
    grid-template-columns: 1fr repeat(55, 0% 1fr);
    grid-column: 2/end;
    background-color: var(--bg-grey);
}

#grid-numbers > div{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 10px;
    border-right: 1px solid var(--lightgrey2);
    border-bottom: 1px solid var(--lightgrey2);
}

#day1{
    grid-column: 1/span 4;
}
#day2{
    grid-column: 5/span 4;
}
#day3{
    grid-column: 9/span 4;
}
#day4{
    grid-column: 13/span 4;
}
#day5{
    grid-column: 17/span 4;
}
#day6{
    grid-column: 21/span 4;
}
#day7{
    grid-column: 25/span 4;
}
#day8{
    grid-column: 29/span 4;
}
#day9{
    grid-column: 33/span 4;
}
#day10{
    grid-column: 37/span 4;
}
#day11{
    grid-column: 41/span 4;
}
#day12{
    grid-column: 45/span 4;
}
#day13{
    grid-column: 49/span 4;
}
#day14{
    grid-column: 53/span 4;
}
#day15{
    grid-column: 57/span 4;
}
#day16{
    grid-column: 61/span 4;
}
#day17{
    grid-column: 65/span 4;
}
#day18{
    grid-column: 69/span 4;
}
#day19{
    grid-column: 73/span 4;
    background-color: var(--table-yellow);
}
#day20{
    grid-column: 77/span 4;
}
#day21{
    grid-column: 81/span 4;
}
#day22{
    grid-column: 85/span 4;
}
#day23{
    grid-column: 89/span 4;
}
#day24{
    grid-column: 93/span 4;
}
#day25{
    grid-column: 97/span 4;
}
#day26{
    grid-column:101/span 4;
}
#day27{
    grid-column: 105/span 4;
}
#day28{
    grid-column: 109/span 4;
}
#day29{
    grid-column:113/span 4;
}

#primary-label{
    grid-row: 3/span 1;
    display: flex;
    /* justify-content: center; */
    align-items: center;
    border-right: 1px solid var(--lightgrey2);
    border-bottom: 1px solid var(--lightgrey2);
    cursor: pointer;
    padding: 0 5px;
}

#primary-label > span{
    margin-right: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
}

#blank-box{
    grid-row:4/end;
    grid-column: 1/2;
    border-right: 1px solid var(--lightgrey2);
}

#shown-data-columns{
    grid-row: 3/span 1;
    grid-column: 2/end;
    display:grid;
    grid-template-columns: 1fr repeat(55, 0% 1fr);
}


/* SHOWN DATA */


.sd-cell{
    margin: 3px 0px;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px white solid;
    font-size: 10px;
    opacity: .8;
}
.sd1{
    background-color: var(--lightgrey);
   
}

.sd2{
    background-color: var(--lightgrey2);
    z-index: 2;
}

.sd3{
    background-color: var(--lightgrey3);
    z-index: 3;
}

.sd4{
    background-color: var(--lightgrey4);
    z-index: 4;
}

.sd5{
    background-color: var(--lightgrey5);
    z-index: 5;
}

#sd1{
    grid-column: 6/span 2;
    grid-row: 1/2;
    border-radius: 5px 0px 0px 5px;
}
#sd2{
    grid-column: 8/span 4;
    grid-row: 1/2;
}
#sd3{
    grid-column: 12/span 2;
    grid-row: 1/2;
    border-radius: 0px 5px 5px 0px;
}
#sd4{
    grid-column: 16/span 8;
    grid-row: 1/2;
    border-radius: 5px;
}
#sd5{
    grid-column: 36/span 2;
    grid-row: 1/2;
    border-radius: 5px 0px 0px 5px;
}
#sd6{
    grid-column: 38/span 2;
    grid-row: 1/2;
}
#sd7{
    grid-column: 40/span 2;
    grid-row: 1/2;
}
#sd8{
    grid-column: 42/span 6;
    grid-row: 1/2;
}
#sd9{
    grid-column: 48/span 2;
    grid-row: 1/2;
}
#sd10{
    grid-column: 50/span 2;
    grid-row: 1/2;
}
#sd11{
    grid-column: 52/span 2;
    grid-row: 1/2;
}
#sd12{
    grid-column: 54/span 2;
    grid-row: 1/2;
}
#sd13{
    grid-column: 56/span 2;
    grid-row: 1/2;
}
#sd14{
    grid-column: 58/span 2;
    grid-row: 1/2;
}
#sd15{
    grid-column: 60/span 22;
    grid-row: 1/2;
}
#sd16{
    grid-column: 82/span 6;
    grid-row: 1/2;
}
#sd17{
    grid-column: 88/span 6;
    grid-row: 1/2;
}
#sd18{
    grid-column: 94/span 2;
    grid-row: 1/2;
    border-radius: 5px;
}
#sd19{
    grid-column: 96/span 4;
    grid-row: 1/2;
    border-radius: 5px;
}



/* SHOWN COLUMNNS */
.cell{
    border-right: 1px solid var(--lightgrey2);
    border-bottom: 1px solid var(--lightgrey2);
}

#shown1{
    grid-column: 1/span 4;
    grid-row: 1/2;
}
#shown2{
    grid-column: 5/span 4;
    grid-row: 1/2;
}
#shown3{
    grid-column: 9/span 4;
    grid-row: 1/2;
}
#shown4{
    grid-column: 13/span 4;
    grid-row: 1/2;
}
#shown5{
    grid-column: 17/span 4;
    grid-row: 1/2;
}
#shown6{
    grid-column: 21/span 4;
    grid-row: 1/2;
}
#shown7{
    grid-column: 25/span 4;
    grid-row: 1/2;
}
#shown8{
    grid-column: 29/span 4;
    grid-row: 1/2;
}
#shown9{
    grid-column: 33/span 4;
    grid-row: 1/2;
}
#shown10{
    grid-column: 37/span 4;
    grid-row: 1/2;
}
#shown11{
    grid-column: 41/span 4;
    grid-row: 1/2;
}
#shown12{
    grid-column: 45/span 4;
    grid-row: 1/2;
}
#shown13{
    grid-column: 49/span 4;
    grid-row: 1/2;
}
#shown14{
    grid-column: 53/span 4;
    grid-row: 1/2;
}
#shown15{
    grid-column: 57/span 4;
    grid-row: 1/2;
}
#shown16{
    grid-column: 61/span 4;
    grid-row: 1/2;
}
#shown17{
    grid-column: 65/span 4;
    grid-row: 1/2;
}
#shown18{
    grid-column: 69/span 4;
    grid-row: 1/2;
}
#shown19{
    grid-column: 73/span 4;
    background-color: var(--table-yellow);
    grid-row: 1/2;
}
#shown20{
    grid-column: 77/span 4;
    grid-row: 1/2;
}
#shown21{
    grid-column: 81/span 4;
    grid-row: 1/2;
}
#shown22{
    grid-column: 85/span 4;
    grid-row: 1/2;
}
#shown23{
    grid-column: 89/span 4;
    grid-row: 1/2;
}
#shown24{
    grid-column: 93/span 4;
    grid-row: 1/2;
}
#shown25{
    grid-column: 97/span 4;
    grid-row: 1/2;
}
#shown26{
    grid-column:101/span 4;
    grid-row: 1/2;
}
#shown27{
    grid-column: 105/span 4;
    grid-row: 1/2;
}
#shown28{
    grid-column: 109/span 4;
    grid-row: 1/2;
}
#shown29{
    grid-column:113/span 4;
    grid-row: 1/2;
}

#toggled-data-window{
    grid-row: 4/end;
    grid-column: 2/end;
}

#toggled-data{
    grid-row: 4/span 1;
    grid-column: 2/end;
    display: grid;
    grid-template-rows: 40px 40px 40px 40px 40px;
    
}

.toggle-cell{
    border-right: 1px solid var(--lightgrey2);
}

.td{
    border-radius: 5px;
    margin: 3px 2px;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    border: none;
    overflow: hidden;
    /* text-overflow: ellipsis; */
    font-size: 10px;
    z-index: 200;
    cursor: pointer;
}

.td >p{
    width: 70%;
    text-overflow: ellipsis;
    overflow: hidden;
    font-weight: bold;
    text-align: center;
    z-index: -1;
} 

