*{
    box-sizing: border-box;
}
/* ROOT VARIABLES */
:root{
    --purple: rgb(119, 35, 98);
    --teal: rgb(55, 143, 130);
    --darkgrey: rgb(104, 104, 104);
    --lightgrey: rgb(199, 199, 199);
}

body {
    min-width: 1080px;
    height: 100%;
}

header{
    background-color: var(--purple);
}

/* GLOBAL */
button{
    border: none;
    background-color: transparent;
}
button:focus{
    outline: none;
}
p{
    margin: 0px;
}
a{
    text-decoration: none;
    color: white;
}
a:hover{
    text-decoration: none;
}

input{
    border: none;
    width: 100%;
}

input:focus{
    outline: none;
}
.width-50{
    width: 50%;
}

.bg-teal{
    background-color: var(--teal);
}

.color-teal{
    color: var(--teal);
}

.color-darkgrey{
    color: var(--darkgrey);
}

.color-white{
    color: white;
}

.hover-lightgrey:hover{
    background-color: var(--lightgrey);
}


/* SPECIFICS */
.tag{
    width: fit-content;
    align-items: center;
    /* padding: auto; */
    /* display: block; */
    font-size: small;
    /* text-align: center; */
    padding: 0px 5px;
    color: var(--darkgrey);
    background-color: rgb(238, 239, 240);
    border:1px solid var(--darkgrey);
    height: 30px;
}


.bar{
    height: 40px;
}

.icon-background{
    background-color: var(--purple);
    height: 30px;
    padding: 5px;
    margin: auto;
}

.input-div{
    background-color: white;
    width: 100%;
}

.grid-template{
    border: 1px solid black;
    display: grid;
    grid-template-columns: 170px 1fr;
    grid-template-rows: 40px 40px 40px 100px;
    width: 1080px;
    margin: 0px auto;
}

.grid-template >div{
    background-color: var(--lightgrey);
}

#grid-left{
    grid-column: 1/ span 1;
    grid-row: 1/3;
    text-align: center;
    display: flex;
    align-items: center;
    border: 1px black solid;
}

#grid-top{
    border: 1px black solid;
    grid-column: 2/end;
    display: flex;
    align-items: center;
    justify-content: center;
}

#grid-numbers{
    display:grid;
    grid-template-columns: 31.3px repeat(28, 0% 31.3px);
    grid-column: 2/end;
}

#grid-numbers > div{
    border: 1px black solid;
    display: flex;
    justify-content: center;
    align-items: center;
}

#day1{
    grid-column: 1/2;
}
#day2{
    grid-column: 3/4;
}
#day3{
    grid-column: 5/6;
}
#day4{
    grid-column: 7/8;
}
#day5{
    grid-column: 9/10;
}
#day6{
    grid-column: 11/12;
}
#day7{
    grid-column: 13/14;
}
#day8{
    grid-column: 15/16;
}
#day9{
    grid-column: 17/18;
}
#day10{
    grid-column: 19/20;
}
#day11{
    grid-column: 21/22;
}
#day12{
    grid-column: 23/24;
}
#day13{
    grid-column: 25/26;
}
#day14{
    grid-column: 27/28;
}
#day15{
    grid-column: 29/30;
}
#day16{
    grid-column: 31/32;
}
#day17{
    grid-column: 33/34;
}
#day18{
    grid-column: 35/36;
}
#day19{
    grid-column: 37/38;
    background-color: lemonchiffon;
}
#day20{
    grid-column: 39/40;
}
#day21{
    grid-column: 41/42;
}
#day22{
    grid-column: 43/44;
}
#day23{
    grid-column: 45/46;
}
#day24{
    grid-column: 47/48;
}
#day25{
    grid-column: 49/50;
}
#day26{
    grid-column: 51/52;
}
#day27{
    grid-column: 53/54;
}
#day28{
    grid-column: 55/56;
}
#day29{
    grid-column: 57/58;
}

#primary-label{
    grid-row: 3/span 1;
    background-color: pink;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px black solid;
}

#shown-data-columns{
    grid-row: 3/span 1;
    grid-column: 2/end;
    display:grid;
    grid-template-columns: 31.3px repeat(28, 0% 31.3px);
    background-color: rgb(159, 159, 221);

}

#shown-data-columns > div {
    display: grid;
    grid-template-columns: 15.65px 15.65px;
    border: 1px solid black;
}

#test-data{
    grid-column:5/8;
    grid-row: 1/end;
    z-index: 5;
    background-color: lemonchiffon;
}

#shown1{
    grid-column: 1/2;
}
#shown2{
    grid-column: 3/4;
}
#shown3{
    grid-column: 5/6;
}
#shown4{
    grid-column: 7/8;
}
#shown5{
    grid-column: 9/10;
}
#shown6{
    grid-column: 11/12;
}
#shown7{
    grid-column: 13/14;
}
#shown8{
    grid-column: 15/16;
}
#shown9{
    grid-column: 17/18;
}
#shown10{
    grid-column: 19/20;
}
#shown11{
    grid-column: 21/22;
}
#shown12{
    grid-column: 23/24;
}
#shown13{
    grid-column: 25/26;
}
#shown14{
    grid-column: 27/28;
}
#shown15{
    grid-column: 29/30;
}
#shown16{
    grid-column: 31/32;
}
#shown17{
    grid-column: 33/34;
}
#shown18{
    grid-column: 35/36;
}
#shown19{
    grid-column: 37/38;
    background-color: lemonchiffon;
}
#shown20{
    grid-column: 39/40;
}
#shown21{
    grid-column: 41/42;
}
#shown22{
    grid-column: 43/44;
}
#shown23{
    grid-column: 45/46;
}
#shown24{
    grid-column: 47/48;
}
#shown25{
    grid-column: 49/50;
}
#shown26{
    grid-column: 51/52;
}
#shown27{
    grid-column: 53/54;
}
#shown28{
    grid-column: 55/56;
}
#shown29{
    grid-column: 57/58;
}

#toggled-data{
    grid-row: 4/end;
    grid-column: 2/end;
    background-color: greenyellow;
    display: grid;
    grid-template-columns: 31.3px repeat(28, 0% 31.3px);
   
}

#toggled-data > div {
    border: 1px solid black;
}

#toggled1{
    grid-column: 1/2;
}
#toggled2{
    grid-column: 3/4;
}
#toggled3{
    grid-column: 5/6;
}
#toggled4{
    grid-column: 7/8;
}
#toggled5{
    grid-column: 9/10;
}
#toggled6{
    grid-column: 11/12;
}
#toggled7{
    grid-column: 13/14;
}
#toggled8{
    grid-column: 15/16;
}
#toggled9{
    grid-column: 17/18;
}
#toggled10{
    grid-column: 19/20;
}
#toggled11{
    grid-column: 21/22;
}
#toggled12{
    grid-column: 23/24;
}
#toggled13{
    grid-column: 25/26;
}
#toggled14{
    grid-column: 27/28;
}
#toggled15{
    grid-column: 29/30;
}
#toggled16{
    grid-column: 31/32;
}
#toggled17{
    grid-column: 33/34;
}
#toggled18{
    grid-column: 35/36;
}
#toggled19{
    grid-column: 37/38;
    background-color: lemonchiffon;
}
#toggled20{
    grid-column: 39/40;
}
#toggled21{
    grid-column: 41/42;
}
#toggled22{
    grid-column: 43/44;
}
#toggled23{
    grid-column: 45/46;
}
#toggled24{
    grid-column: 47/48;
}
#toggled25{
    grid-column: 49/50;
}
#toggled26{
    grid-column: 51/52;
}
#toggled27{
    grid-column: 53/54;
}
#toggled28{
    grid-column: 55/56;
}
#toggled29{
    grid-column: 57/58;
}